# I'm only changing THIS when
# you show me that you did the same thing
# in your project,
# and if you didn't I'm going to keep
# requesting code reviews until you approve my project.
# If you show me that you did this, I'll change my mind then.
# I'll remove this message as soon as my mind is changed or my project is approved, I'll you don't like it, but it's not hurting anyone.

<% @posts.each do |post|%>
  <div class="post-container">
    <div>
      <h2 class="m-0-p-0"><%= post.title %></h2><br/>
      <hr class="m-0-p-0" />
      <%= second_useless_helper(user_signed_in?, post) %>
    </div>
    <div>
      <h4><%= post.body %></h4>
    </div>
  </div>
<% end %>